body {
    font-family: sans-serif;
    background-image: url(images/bgimage.jpg);
    margin: 0;
    padding: 0;
    height: max-content;
    
}

h1{
    font-family:  'Special Elite', 'monospace';
    padding: 100px;
    color: #ffffff;
}


h3{
    font-family:  'Special Elite', 'monospace';
    padding: 100px;
    color: #ffffff;
}
